@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Permanent+Marker&display=swap');

/* CSS Variables Styles */
:root {
    --main-titles: "Anton", sans-serif;
    --sub-titles: "Permanent Marker", sans-serif;
    --main-body: "Oswald", sans-serif;
    --dutch-white: #dbd3ad; 
    --bistre: #28160a; 
    --cafe-noir: #513b22; /* background-forms-unhovered-color */
    --captum-motuum: #513125; /* background-hovered-color */
    --raw-umber: #966f51; /* highlight-color-header-footer */
}

/* Global Styles */

/* Header Styles */

header h1 .image-text {
    background: url(assets/images/plain-logo-no-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: text;
    color: transparent;
}

/* Button Styles */

/* Navbar Styles */

.logo {
    width: 35px;
    height: auto;
}

#navbar {
  background-color: var(--bistre);
  color: var(--dutch-white);
}

/* Footer Styles */

#contact {
  background-color: var(--bistre);
  color: var(--dutch-white);
}

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid red;
}

.col-12 {
    border: 2px solid blue;
    background-color: fuchsia;
} */ 