/*Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Permanent+Marker&display=swap');

/* CSS Variables Styles */
:root {
    --main-titles: "Anton", sans-serif;
    --sub-titles: "Permanent Marker", sans-serif;
    --main-body: "Oswald", sans-serif;
    --primary-color: #dbd3ad; /* dutch white */
    --secondary-color: #28160a; /* bistre */
    --background-forms-unhovered-color: #513b22; /* cafe noir */
    --background-hovered-color: #513125; /*captum motuum */
    --highlight-color-header-footer: #966f51; /* raw umber */
}

/* Global Styles */

/* Button Styles */

/* Navbar Styles */

#navbar {
    background-color: var(--secondary-color); 
    display: flex;
    justify-content: space-around;
}

#navbar h1 {
    font-family: var(--sub-titles);
    color: var(--primary-color);   
}

.full-logo {
    width: 50px;
    height: auto;
}



/* grid visualisation CSS for testing */

.container,
.row {
    border: 2px solid white;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}