@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Permanent+Marker&display=swap');

/* CSS Variables Styles */
:root {
    --main-titles: "Anton", sans-serif;
    --sub-titles: "Permanent Marker", sans-serif;
    --main-body: "Oswald", sans-serif;
    --dutch-white: #dbd3ad; 
    --bistre: #28160a; 
    --cafe-noir: #513b22; 
    --captum-motuum: #513125; 
    --raw-umber: #966f51; 
}

/* Global Styles */

body {
    font-family: var(--main-body);
    background-color: var(--dutch-white);
    color: var(--bistre);
}

/* Page Section Style */

.bg-section {
    background-color: var(--bistre);
    color: var(--dutch-white);
}

h2 {
    font-family: var(--main-titles);
    color: var(--dutch-white);
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Subtitle Style */
h3 {
    font-family: var(--sub-titles);
    color: var(--bistre);
}

h3.dutch-white {
    font-family: var(--sub-titles);
    color: var(--dutch-white);
}

h5 {
    font-family: var(--sub-titles);
    color: var(--dutch-white);
}

/* Header Styles */

/* This is to get header under navbar */
#header {
    padding-top: 70px;
    background-color: var(--dutch-white);
}

.carousel-item > img {
    width: 226px;
    height: 226px;
}

h1.image-text {
    font-family: var(--main-titles);
    background: url('/gloomhaven-universe/assets/images/generic-bg-title.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text; /* Fixes potential issue with text not showing */
    background-clip: text; /* Works with the websites not covered in the above */
    color: transparent;
}

/* Card Styles */

.card {
    background-color: var(--bistre);
    color: var(--dutch-white);    
    border-radius: .5em;
    margin: .5em;    
}

.card-body {
    padding: .25em;
}

.card-title {
    font-family: var(--main-body);    
}

/* Accordion Styles */
.accordion {
    --bs-accordion-btn-bg: var(--bistre);
    --bs-accordion-active-bg: var(--captum-motuum);
    --bs-accordion-btn-color: var(--dutch-white);
    --bs-accordion-active-color: var(--dutch-white);      
    --bs-accordion-bg: var(--captum-motuum);
    --bs-accordion-color: var(--dutch-white);
    --bs-accordion-btn-focus-box-shadow: none;      
}

.accordion-item {
    border: none;
}

.accordion-button:not(.collapsed){
    box-shadow:none;
}

.accordion-button::after {
  filter: brightness(0) saturate(100%) invert(94%) sepia(7%) saturate(500%) hue-rotate(10deg);
}

/* Table Styles */

.table {
    --bs-table-bg: var(--bistre);
    --bs-table-striped-bg: var(--captum-motuum);
    --bs-table-color: var(--dutch-white);
    --bs-table-striped-color: var(--dutch-white);      
}

tbody, td, tfoot, th, thead, tr {
    border: none;
}

/* Style for Nav Tabs Booking and Feedback Section */

.nav-link {
    color: var(--captum-motuum);    
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--dutch-white);
    background-color: var(--captum-motuum);
    border-color: var(--captum-motuum);
}

/* Form Styles */

.form-check .form-check-input {
    float: none;
    margin-left: -1.5em;
}

/* Button Styles */

.btn-btn-primary {
    background-color: var(--captum-motuum);
    border-color: var(--captum-motuum);
    color: var(--dutch-white);
    text-decoration: none;
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
}

.btn-btn-primary:hover {
    background-color: var(--raw-umber);
    color: var(--dutch-white);
    --bs-btn-hover-border-color: var(--raw-umber);
}

/* Gallery Styles */

.gallery {
  column-count: 2;
  column-gap: 0;
  max-width: 900px;
  margin: auto;
}

.gallery img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  break-inside: avoid;  
}

/* Modal Style */

.modal-body {
    background-color: var(--bistre);
    color: var(--dutch-white);
}

.modal-header {
    background-color: var(--bistre);
    border: 0;
}

/* Navbar Styles */

.logo {
    width: 35px;
    height: auto;
}

#navigation {
  background-color: var(--bistre);
  color: var(--dutch-white);
}

/* Footer Styles */

#contact{
  background-color: var(--bistre);
  color: var(--dutch-white);
}

#contact a {
  color:var(--dutch-white);
  text-decoration: none;
}

#contact a:hover {
  color: var(--raw-umber); 
}


